{% extends 'base.html.twig' %}

{% block title %}Liste de vos contacts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Liste de vos contacts</h1>

    <br>

    <a type="button" class="btn btn-info" href="{{ path('add_contact') }}">Ajouter un contact</a>
    <div type="button" class="btn btn-danger" id="deleteSelected">Supprimer</div>
    <br>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="month" id="month" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-primary" id="validMonth">Valider</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Société</th>
                <th scope="col">Adresse email</th>
                <th scope="col">Numéro de tél</th>
                <th scope="col">Contacté ?</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <th scope="row">{{ contact.name }}</th>
                    <td>{{ contact.society is not null ? contact.society : "N/A" }}</td>
                    <td>{{ contact.email is not null ? contact.email : "N/A" }}</td>
                    <td>{{ contact.telNumber is not null ? contact.telNumber : "N/A" }}</td>
                    <td>{{ contact.contacted ? "Oui" : "Non" }}</td>
                    <td><a type="button" class="btn btn-info" href={{ path('view_contact', {'id': contact.id}) }}>Détails</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
