{% extends 'base.html.twig' %}

{% block title %}Détail de la candidature partielle{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Détail de la candidature partielle</h1>
    <br>

    <ul>
        <li>Vous avez postulé chez <u>{{ cand.society }}</u> le {{ cand.candidacyDate | date("d-m-Y") }} {% if cand.job is not null %} pour le poste de <u>{{ cand.job }}</u>{% endif %}</li>
        
        <li>
            {% if cand.relaunchDate is null %}
                Vous n'avez pas relancé pour le moment
            {% else %}
                Vous avez relancé le {{ cand.relaunchDate | date("d-m-Y") }}
            {% endif %}
        </li>

        {% if cand.comments is not null %}
            <li>
                Vous avez noté les infos suivantes :

                <p>
                    {{ cand.comments | nl2br }}
                </p>
            </li>
        {% endif %}

        <li>
            {% if cand.issue is null %}
                Vous êtes sans réponse pour le moment
            {% elseif cand.issue == "ok" %}
                <b>Vous avez été recruté, félicitations !!! :) :)</b>
            {% elseif cand.issue == "no" %}
                <b>Votre candidature a malheureusement été refusée :( :(</b>
            {% endif %}
        </li>

        {% if cand.needRelaunch != "white" %}
            <li>
                {% if cand.needRelaunch == "#5bfe6a" %}
                    <b>Il n'est pas encore temps de relancer les recruteurs</b>
                {% elseif cand.needRelaunch == "yellow" %}
                    <b>Une relance serait envisageable</b>
                {% elseif cand.needRelaunch == "#f9a33e" %}
                    <b>Il est important de relancer les recruteurs</b>
                {% elseif cand.needRelaunch == "red" %}
                    <b>Il est urgent de relancer les recruteurs !!</b>
                {% elseif cand.needRelaunch == "black" %}
                    <b>A relancer de toute urgence !!!</b>
                {% endif %}
            </li>
        {% endif %}
    </ul>

    <br>
    <a type="button" class="btn btn-success" href="{{ path('app_partial_cand') }}">Listes de vos candidatures partielles</a>
    <a type="button" class="btn btn-warning" href="{{ path('edit_partial_cand', {'id': cand.id}) }}">Modifier cette candidature</a>
    <a type="button" class="btn btn-danger" href="{{ path('delete_partial_cand', {'id': cand.id}) }}">Supprimer cette candidature</a>

</div>

<div class="modal" id="deleteModal">
    <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Suppression de votre candidature vers <u>{{ cand.society }}</u></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
            <div class="modal-body">
                <p>Êtes-vous sûr ?</p>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-primary" href="{{ path('delete_candidacies', {'id': cand.id}) }}">Oui</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}