{% extends 'base.html.twig' %}

{% block title %}Liste de vos candidatures{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
    <h1>Bilan mensuel</h1>

    <br>
    <a type="button" class="btn btn-info" href="{{ path('app_candidacies') }}">Vos candidatures</a>
    <br>
    <br>

    {% set width = 1220 %}
    {% set height = 700 %}

    {% set gapX = width / nbDays %}

    <svg width="{{ width+20 }}" height="{{ height }}" viewBox="0 0 {{ width+20 }} {{ height-100 }}" xmlns="http://www.w3.org/2000/svg">
        <line x1="20" y1="{{ height-100 }}" x2="{{ width }}" y2="{{ height-100 }}" stroke="black" />
        <line x1="20" y1="{{ height-100 }}" x2="20" y2="0" stroke="black" />

        {% set x = gapX/2 + 20 %}

        {% for i in 0..nbDays %}
            
            <line x1="{{ x }}" y1="{{ height-100 }}" x2="{{ x }}" y2="{{ height-100+20 }}" stroke="black" />
            <text x="{{ x-4 }}" y="{{ height-100+40 }}" stroke="black" >{{ i+1 }}</text>
            
            {% set x = x + gapX %}
        {% endfor %}

        {% set max = 0 %}

        {% for n in nbCand %}

            {% if n > max  %}
                {% set max = n %}
            {% endif %}

        {% endfor %}

        {% if max != 0 %}
            {% set gapY = (height-100) / max %}

            {% set y = height-100 %}

            {% for i in 0..max %}
            
                <text x="0" y="{{ y }}" stroke="black">{{ i }}</text>
                
                {% set y = y - gapY %}
            {% endfor %}

            {% set ratio = 600 / max %}

            {% set x = 20 %}

            {% for n in nbCand %}
                {% set heightStick = n * ratio %}
                
                {% if n != 0 %}
                    <rect x="{{ x }}" y="{{600 - heightStick}}" width="{{ gapX }}" height="{{ heightStick }}" fill="#4aa5f5" stroke="black" />
                    <text x="{{ x + gapX/2 - 4 }}" y="{{ 600 - heightStick/2 }}" stroke="black">{{ n }}</text>
                {% endif %}

                {% set x = x + gapX %}
            {% endfor %}
        {% endif %}

    </svg>

</div>
{% endblock %}
